/* Make mobile article links clickable */
section.touchable > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 41;
}

details.fbtrCollapsible {
    padding: 0 10px;
}

summary.fbtrLabel {
    margin: 10px 0;
    cursor: pointer;
    font-size: 0.8rem;
}

.fbtrHide {
    display: none;
}
